footer {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #232323;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__title {
            font-weight: 900;
            font-size: 24px;
            line-height: 26px;
            letter-spacing: 3.36px;
            text-transform: uppercase;
            color: $text-color;
            margin-bottom: 10px;
        }

        .footer__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 1.6px;
            color: $text-color;
            display: flex;
            margin-bottom: 30px;
        }

        .footer__social {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 160px;

            li {
                list-style: none;

                &:hover {
                    color: #5474FD;
                }

                a {
                    .social-icon {
                        fill: #E8E8E8;
                        transition-property: fill;
                        transition-duration: 0.3s;

                        &:hover {
                            fill: #5474FD;
                        }
                    }

                }
            }
        }
    }
}